.playlistContainer {
	flex: 1 0 auto;
	margin-bottom: 40px;
	max-width: calc(50% - 48px);
	position: relative;
}

.playlistContainer:before {
	background-color: #d7abff;
	border: 1px solid black;
	content: " ";
	display: block;
	position: absolute;
		top: 10px;
		left: 10px;
	z-index: 2;
	height: 100%;
	width: 100%;
}

.playlistContainer:after {
	background-color: #f7e61b;
	border: 1px solid black;
	content: " ";
	display: block;
	position: absolute;
	top: 20px;
	left: 20px;
	z-index: 1;
	height: 100%;
	width: 100%;
}

.rename {
	background-image: url(gridsm.png);
	background-repeat: no-repeat;
	padding-top: 30px;
	position: absolute;
		top: -130px;
		right: -90px;
	height: 190px;
	width: 240px;
	text-align: center;
}

.rename input {
	border: 1px solid black;
	display: block;
	font-family: 'Rajdhani', sans-serif;
	font-size: 18px;
	margin: 0 auto;
	padding: 6px;
}

.rename input:focus {
	outline-width: 0;
}

.rename label {
	-webkit-text-stroke: 1px black;
	color: white;
	display: block;
	font-family: 'Bungee', sans-serif;
	font-size: 24px;
	margin-bottom: 5px;
	text-shadow: 0 5px 0 black;
}

.playlist {
	background: #fad2cc;
	border: 1px solid black;
	min-height: calc(100% - 42px);
	padding: 20px;
	position: relative;
	z-index: 3;
}

.playlist h3 {
	-webkit-text-stroke: 1px black;
	color: white;
	font-family: 'Bungee', sans-serif;
	font-size: 32px;
	margin: -40px 0 0 0;
	text-shadow: 0 5px 0 black;
}